@charset "UTF-8";
@font-face{
    font-family:'DNFForgedBlade';font-style:normal;font-weight:300;
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}
 
 @font-face{
    font-family:'DNFForgedBlade';font-style:normal;font-weight:500;
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Medium.otf')format('opentype')}
 
 @font-face{
    font-family:'DNFForgedBlade';font-style:normal;font-weight:700;
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Bold.otf')format('opentype')}
/* 초기화 */
* {
	margin: 0px;
	padding: 0px;
    font-family: Nanum Gothic;
    transition: 0.5s;
}

ol,
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #9697a1;
}

body{
    /* height: 3000px; */

    width: 100vw;
    background-color: rgb(46, 46, 47);
             

    box-sizing: border-box;
    /* border: 1px solid white; */
}
 header{
    z-index: 100;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100px;
    box-sizing: border-box;

}


header:hover{
    background-color: rgba(0,0,0,0.4);
    
} 

.logo {
    position: fixed;
    left: 40px;
    top:22px;

   
}

.menu {
    
    position: absolute;
    top: 42px;
    right: 75px;
    font-size: 18px;
    box-sizing: border-box;

    /* border: 1px solid white; */
}

.menu li {
    box-sizing: border-box;
    padding-right: 50px;
    float: left;
    display: flex;
    flex-direction: row;
}
/* .menu li>a{
    border: 1px solid red;
} */
.submenu{
    display: none;
}
.menu a:hover{
    color: #fff;
    scale: 1.2;

}


/* youtube video */
.youtube{
    position: relative;
    height: 900px;
    overflow: hidden;
    opacity: 0.4;
}

/* 
모니터 해상도 : 16(가로) : 9(세로)
*/

.youtube__area{
    width: 1920px;
    position: absolute;
    /* 16비율 */
    left:  50%;
    margin-left: calc(1920px / -2);
    /* 9비율 */
    top: 20%;
    margin-top: calc(1920px * 9 / 16 / -2);

}

/* 16: 9 영상 비율로 요소크기만들기 */
.youtube__area::before{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-top:90%;

}



#player{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

}
#player1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

}
#player2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

}
/* .youtube__cover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    background-image: url(../images/video_cover_pattern.png);

} */

h4{
    display: block;
    font-size: 150px;
    z-index: 100;
    color: #fff;
    font-family: 'DNFForgedBlade';
    font-weight: bold;
  
}
.txt{
    width: 1400px;
    position: absolute;
    top: 250px;
    left: 180px;
    letter-spacing: 20px;
    line-height: 240px;
}
em{
    position: absolute;
    right: 150px; 
}
.txt1{
    position: absolute;
    top: 800px;
    right: 200px;
}
.txt2{
    position: absolute;
    top: 1400px;
    left: 200px;
}


/* to top button */
#to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    width: 45px;
    height: 45px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
